* {
    	margin: 0;
    	padding: 0;
    	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: white transparent; 
}

body {
	margin-top: 14.5rem;
	color: white;
	background-color: rgb(20, 20, 30);
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-align: center;
	 
}

a {
	text-decoration: none;
	color: white;
	align-text: center;
	padding: 1rem;
}

a:hover {
	color: rgb(20, 20, 255);
}

h1 {
	padding: 2rem;
	font-size: 3rem;
}

h2 {
	padding: 1rem;
	font-size: 2rem;
}

h3 {
	padding: 1rem;
	font-size: 1rem;
}

p {
	padding: 1rem;
	font-size: 1rem;
}

span {
	padding: 1rem;
	font-size: 1rem;
	font-style: italic;
}

li {
	padding: 1rem;
	font-size: 1rem;
}

ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

header, section, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
        position: fixed;
        top: 0;
        center: 0;
        width: 100%;
        background-color: rgba(20, 20, 30, 0.9);
        padding: 2rem;
}

section {
	scroll-margin-top: 14.5rem;
	padding: 4rem;
}

footer {
	padding: 2rem;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

article img {
	aspect-ratio: 3/2;
	width: 24vw;
	object-fit: cover;
}

button {
	background-color: rgb(20, 20, 255);
	font-size: 1rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: none;
	border-radius: 16px;
	color: white;
	font-family: Arial, sans-serif;
}

.game-header {
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

.game-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(20, 20, 30);
	color: white;
	padding: 0;
}

.home-button {
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.game-frame {
	width: 1280px;
	height: 720px;
	border: none;
	margin: 0;
}

.colored-section {
	background-color: rgb(20, 20, 50);
}

.white-section {
	background-color: white;
	color: black;
}

.row-container {
    	display: flex;
    	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
    	width: 65%;
}

@media (max-width: 900px) {
	body {
		margin-top: 21rem;
	}
	section {
		scroll-margin-top: 20.9rem;
		padding-left: 0;
		padding-right: 0;
	}
	.row-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.column-container {
		width: 100%;
	}
	article img {
		width: 100%;
	}
}

.column-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 65%;
}
