h1 {
	padding: 2rem;
	font-size: 3rem;
}

h2 {
	padding: 1rem;
	font-size: 2rem;
}

h3 {
	padding: 1rem;
	font-size: 1rem;
}

p {
	padding: 1rem;
	font-size: 1rem;
	color: rgb(200, 200, 200);
}

li {
	padding: 1rem;
	font-size: 1rem;
	color: rgb(200, 200, 200);
}
