* {
    	margin: 0;
    	padding: 0;
    	box-sizing: border-box;
}

body {
	color: white;
	background-color: rgb(20, 20, 30);
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-align: center; 
}

a {
	text-decoration: none;
	color: white;
	align-text: center;
}

a:hover {
	color: rgb(20, 20, 255);
}

h1 {
	padding: 2rem;
	font-size: 3rem;
}

h2 {
	padding: 1rem;
	font-size: 2rem;
}

h3 {
	padding: 1rem;
	font-size: 1rem;
}

p {
	padding: 1rem;
	font-size: 1rem;
}

li {
	padding: 1rem;
	font-size: 1rem;
}

ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

header, section, footer {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article img {
	width: 24vw;
	height: 16vw;
	object-fit: cover;
}

button {
	background-color: rgb(20, 20, 255);
	font-size: 1rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: none;
	border-radius: 16px;
	color: white;
	font-family: Arial, sans-serif;
}

.game-header {
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

.game-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(20, 20, 30);
	color: white;
	padding: 0;
}

.home-button {
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.game-frame {
	width: 1280px;
	height: 720px;
	border: none;
	margin: 0;
}

.colored-section {
	background-color: rgb(20, 20, 50);
}

.white-section {
	background-color: white;
	color: black;
}

.row-container {
    	display: flex;
    	flex-direction: row;
	justify-content: space-evenly;
	border: transparent solid 3px;
	align-items: center;
    	width: 65%;
}

.column-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: transparent solid 3px;
	width: 65%;
}
